@import '../scss/globals';


.contact__container{
    background-color: $white;
    background-color: rgb(255 252 245);
    color: $black-gray;
    // background: linear-gradient(0deg, $white 0%, $primary-blue 190%);
    width: 100%;
}

.contact{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1.6rem;

    &__title {
        font-weight: $bold;
        font-size: 3rem;
        margin-bottom: 1rem;
        width: 100%;
        text-align: center;
        
    }

    &__separator {
        height: .3rem;
        width: 100%;
        border: none;
        background-color: $black;
        margin-bottom: 1rem;
    }

    &__text{
        font-weight: $regular;
        font-size: 1.8rem;
    }

    &__way {
        width: 100%;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        &--centered{
            justify-content: center;
            align-items: center;
        }
        
        &--first{
            margin-top: 1rem;
        }

    }

    &__subtitle {
        text-align: center;
        font-weight: $bold;
        font-size: 2rem;
        margin-bottom: .5rem;
        width: 100%;
    }

    &__whatsappButton{
        background-color: $soft-gray;
        color: $white;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 1rem;
        border-radius: .6rem;
        width: fit-content;
        font-size: 1.9rem;
        font-weight: $regular;
        padding: 1rem;
        @include small-shadow;
        
        img{
            width: 3.2rem;
        }
    }

    &__socialButtons {
        display: flex;
        column-gap: 3.8rem;
    }

    &__iconButton{
        img{
            width: 6.7rem;
        }
    }

    &__form{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    &__label{
        margin-bottom: .3rem;
    }

    &__formGroup{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 1.4rem;
    }

    &__input{
        font-size: 1.8rem;
        padding: 1rem;
        font-family: $roboto;
        border-radius: 1rem;
        border: 1px solid $black;
        resize: none;
        width: 100%;
        
        &--notValid{
            border-color: $error;
            outline-color: $error;
        }
    }

    &__inputError {
        color: $error;
        margin-top: .2rem;
    }

    &__submitButton {
        display: block;
        background-color: $medium-gray;
        color: $white;
        font-family: $roboto;
        border-radius: 1rem;
        border: none;
        font-size: 1.8rem;
        font-weight: $regular;
        padding: 1.3rem 0;
        @include small-shadow;
        cursor: pointer;
    }
}

@media only screen and (min-width: 600px){
    .contact {
        max-width: 900px;
        margin: 0 auto;
        &__form {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
        }

        &__formGroup {
            &--wrapable{
                width: calc(50% - .5rem);
            }
        }

        &__submitButton {
            width: 50%;
            margin: 0 auto;
        }

    }
}

@media only screen and (min-width: 1023px){
    .contact{
        flex-direction: row;
        flex-wrap: wrap;

        &__separator{
            width: 35rem;
        }

        &__title{
            order: -100;
        }

        &__way{
            &--first{
                margin-top: 1rem;
                width: 50%;
            }
            &--second{
                margin-top: 1rem;
                width: 50%;
            }
            &--form{
                margin-top: 0;
                order: -1;
            }
        }

        &__iconButton{
            img {
                width: 5.2rem;
            }
        }
    }
}