.iconBtn {
    width: 3.7rem;
    height: 3.7rem;
    padding: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    border: none;
    border-radius: 50%;
    filter: drop-shadow(-0.8rem 1.2rem 0.4rem rgba(0, 0, 0, 0.25));
}
