@import '../scss/variables';

.nav__container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $transparent-black;
    z-index: 70;

    transition: all ease-in-out 0.5s;

    &--hidden {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.nav {
    background-color: $primary-orange;
    width: 90%;
    height: 100%;
    color: $white;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 4.6rem 1.4rem;

    &__name {
        font-size: 2.5rem;
    }
    &__title {
        font-size: 2rem;
    }

    &__separator {
        width: 100%;
        height: 0.2rem;
        margin-top: 1.7rem;
        margin-bottom: 3.3rem;
        background-color: $transparent-white;
    }

    &__items {
        display: flex;
        flex-direction: column;
    }

    &__item {
        font-weight: 700;
        font-size: 2.2rem;
        width: 100%;
        height: 3rem;
        list-style: none;
        margin-bottom: 3.8rem;
        filter: drop-shadow(0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
    }
    &__link {
        display: block;
        width: 100%;
        height: 100%;
        color: $white;
        text-decoration: none;
    }
}

.nav__close {
    position: absolute;
    right: 2rem;
    top: 3rem;
    background-color: unset;
    border: none;
}

.navbtn {
    position: fixed;
    top: 1rem;
    left: 1rem;
    background-color: #fff;
}

/* Mobile landscape */
@media only screen and (max-height: 450px) and (orientation: landscape) {
    .nav {
        padding: 1.4em 2rem 1rem 4rem;

        &__items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        &__name {
            font-size: 2rem;
        }

        &__title {
            font-size: 1.6rem;
        }
    }
}

/* LAPTOP */
@media (min-width: 769px) and (min-height: 426px) {
    .nav__container {
        position: sticky;
        top: 0;
        width: 100%;
        background-color: $primary-orange;
        transition: none;
        padding: 1rem 3rem;

        &--hidden {
            opacity: 100%;
            transform: translateX(0);
        }
    }

    .nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;

        width: 100%;
        max-width: 1000px;
        margin: 0 auto;

        &__items {
            display: flex;
            flex-direction: row;
        }

        &__item {
            cursor: pointer;
            width: unset;
            margin: 0;
            font-size: 1.7rem;
            margin-left: 6.6rem;
            height: unset;
        }

        &__name {
            font-size: 1.8rem;
            filter: drop-shadow(-0.4rem -0.2rem 0rem $primary-blue);
            br {
                display: none;
            }
        }

        &__title {
            font-size: 1.6rem;
            filter: drop-shadow(-0.4rem -0.2rem 0rem $dark-orange);
        }

        &__separator {
            display: none;
        }
        &__close {
            display: none;
        }
    }

    .navbtn {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 818px) {
    .nav {
        &__item {
            margin-left: 5rem;
        }
    }
}
