@import '../scss/globals';

/* Medium Mobile */

.myProjects {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1.4rem ;

    &__container {
        background-color: $soft-yellow;
        width: 100%;
        height: 100%;
    }

    &__title{
        font-weight: $bold;
        font-size: 3rem;
    }

    &__hr{
        display: block;
        background-color: $black-gray;
        border: 0;
        margin: 0;
        height: .3rem;
        width: 100%;
        margin-top: .5rem;
        margin-bottom: 1.8rem
    }

    &__adviceText {
        text-align: center
    }

    &__text{
        font-size: 1.8rem;
        &--bold{
            margin-bottom: 1rem
        }
    }

    &__githubButton{
        @include small-shadow;
        border-radius: 1rem;
        background-color: $white;
        display: flex;
        align-items: center;
        color: $black-gray;
        font-size: 2rem;
        text-decoration: none;
        border-radius: 2rem;
        padding: .6rem 1.6rem;
        font-weight: $bold;
        margin-top: 1.2rem;
        cursor: pointer;

        img{
            width: 5rem;
            margin-right: 1rem;
        }
    }
}

.projectCard {
    @include small-shadow;

    background-color: $white;
    margin-bottom: 1rem;
    border-radius: .9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .9rem;
    margin-bottom: 3rem;

    &__title{
        font-weight: $bold;
        font-size: 1.9rem;
        margin-bottom: 1rem;
    }
    
    &__content{
        width: 100%;
        display: flex;
        column-gap: 1rem;
        margin-bottom: 1.4rem;
    }

    &__image{
        @include small-shadow;

        grid-area: image;
        width: 187px;
        height: 149px;
        background-color: $primary-orange;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            object-fit: cover;
            width: 95%;
            height: 95%;
        }
    }

    &__description {
        width: 50%;
        font-size: 1.4rem;
    }

    &__buttons {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__button {
        @include small-shadow;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 3.8rem;
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: $medium;
        border-radius: .5rem;
        cursor: pointer;
        &--repo{
            color: $black-gray;
            background-color: $primary-orange;
        }
        &--preview{
            color: $white;
            background-color: $medium-gray;
            margin-top: 1rem;
        }
    }

}

/* PHONE LANDSCAPE */
@media only screen and (max-height: 450px) and (orientation: landscape) {

    .myProjects {
        padding: 3rem;
        &__projects{
            display: grid;
            grid-template-columns: repeat(2, auto);
            column-gap: 1rem;
            row-gap: 1rem;
            margin-bottom: 2rem;
        }
        &__hr {
            width: 35.8rem;
        }
    }

    .projectCard {
        margin-bottom: unset;
        &__content{
            flex-direction: column;
            align-items: center;
        }
        &__description {
            width: 100%;
        }
        &__image {
            width: 100%;
            margin-bottom: 1rem;
        }
    }

}

/* small phone */
@media screen and (max-width: 320px) and (max-height: 480px){
    .myProjects{
        &__projects {
            width: 100%;
        }

        &__githubButton {
            img{
                width: 4rem;
            }
            font-size: 1.5rem;
        }
    }

    .projectCard {
        margin-bottom: 1rem;
        
        &__content{
            display: flex;
            flex-direction: column;
        }

        &__image {
            width: 100%;
            margin-bottom: 1rem;
        }

        &__description {
            width: 100%;
            font-size: 1.4rem;
        }
    }
}

/* Small phone lanscape */
@media only screen and (max-height: 320px) and (orientation: landscape){
    .myProjects {
        padding: 1rem;
    }
}

/* Big phone responsive */
@media only screen and (min-width: 600px) and (min-height: 600px) {

    .myProjects {
        padding: 2rem;
        &__projects{
            display: grid;
            grid-template-columns: repeat(2, auto);
            column-gap: 1rem;
            row-gap: 1rem;
            margin-bottom: 2rem;
        }
        &__hr {
            width: 35.8rem;
        }
    }

}
@media only screen and (min-width: 600px) and (max-width: 799px) and (min-height: 600px) {
    .projectCard {
        margin-bottom: unset;
        &__content{
            flex-direction: column;
            align-items: center;
        }
        &__description {
            width: 100%;
        }
        &__image {
            width: 100%;
            margin-bottom: 1rem;
        }
    }
}

/* TABLET RESPONSIVE */
@media only screen and (min-width: 800px) {
    .myProjects {
        &__projects{
            column-gap: 2rem;
            row-gap: 2rem;
        }
    }

    .projectCard {
        justify-content: flex-start;
        height: min-content;
        margin: 0;
    }
}









