@import '../scss/variables';

/* Medium size phone */
.skills{
    height: 100%;
    width: 100%;

    padding: 0 3rem;

    background-color: $medium-gray;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &__container {
        width: 100%;
        height: 100vh;
        background-color: $medium-gray;
    }


    &__content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__text {
        font-family: $roboto;
        font-size: 1.6rem;
        color: $white;

        &--title{
            font-family: $roboto;
            font-weight: $bold;
            font-size: 3.2rem;
            margin-bottom: .5rem;
        }

        &--subtitle{
            font-family: $roboto;
            font-weight: $regular;
            font-size: 2rem;
            margin-bottom: .7rem;
        }

        &--small {
            font-weight: $medium;
            font-size: 1.1rem;
        }
    }

    /* Techskills */

    &__barContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1.1rem;
    }
    
    &__barBackground{
        width: 100%;
        height: 1.7rem;
        background-color: $soft-gray;
        margin-top: .2rem;
    }

    &__bar {
        height: 100%;
        background-color: $tech-green;
        position: relative;
    }

    &__domain{
        position: absolute;
        right: -1rem;
        top: -90%;
    }

    /* softSkills */

    &__soft {
        margin-top: 1rem;
        width: 100%;
    }

    &__softTitle{
        text-align: center;
    }

    &__softSkill {
        font-size: 1.5rem;
        margin-bottom: .4rem;
        list-style-position: inside;
    }

}

/* Phone landscape */
@media only screen and (max-height: 450px) and (orientation: landscape) {
    .skills{
        padding: 8rem;

        &__content{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(7, auto);
            align-items: start;
            column-gap: 4.3rem;
            
        }

        &__techTitle{
           text-align: center;
           margin: 0;
           align-self: center;
        }

        &__barBackground {
            height: 1rem;
        }

        &__domain {
            top: -1.5rem;
        }

        &__soft{
            grid-column: 2 / 3;
            grid-row: 4 / 7;
        }
    }
}

@media only screen and (max-height: 320px) and (orientation: landscape){
    .skills{
        padding: 0 1rem;
    }
}

/* small phone */
@media screen and (max-width: 320px) and (max-height: 480px){
.skills{
    &__text {
        font-size: 1.3rem;

        &--title{
            font-size: 2.3rem;
            margin-bottom: 0rem;
        }

        &--subtitle{
            font-size: 1.8rem;
            margin-bottom: .7rem;
        }

        &--small {
            font-size: 1.1rem;
        }
    }

    /* Techskills */

    &__barContainer{
        margin-bottom: .7rem;
    }
    
    &__barBackground{
        height: 1rem;
        margin-top: .3rem;
    }

    &__bar {
        height: 100%;
        background-color: $tech-green;
        position: relative;
    }

    &__domain{
        position: absolute;
        right: -1rem;
        top: -1.5rem;
    }

    /* softSkills */

    &__soft {
        margin-top: .5rem;
        width: 100%;
    }

    &__softTitle{
        text-align: center;
    }

    &__softSkill {
        font-size: 1.4rem;
        margin-bottom: .3rem;
        list-style-position: inside;
    }

}

}

/* BIG PHONE */

@media only screen and (min-width: 600px) and (min-height: 600px) {


    .skills{
        height: unset;
        padding: 3rem 4rem;
        max-width: 800px;
        margin: 0 auto;

        &__container {
            height: unset;
        }
        
        &__content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(9, auto);
            align-items: start;
            column-gap: 4.3rem;
        }

        &__techTitle {
           text-align: center;
           margin: 0;
           align-self: center;
           grid-column: 1 / 3;
           grid-row: 1 / 2;
           margin-bottom: 1.5rem;
        }

        &__text--title {
            margin-bottom: 2rem;
        }

        &__barBackground {
            height: 1rem;
        }

        &__domain {
            top: -1.5rem;
        }

        &__soft {
            grid-column: 1 / 3;
            grid-row: 8 / 9 ;
            margin-top: 1rem;
        }

        &__softTitle {
            margin-bottom: 1.5rem;
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(2, auto);
            justify-content: center;
            column-gap: 4rem;
        }

        &__softSkill {
            margin-bottom: 1rem;
        }
    }
    
}

/* Medium tablet and laptop */
@media screen and (min-width: 1023px) {
    .skills{
        max-width: 930px;
    }
}