$primary-orange: #ffad4d;
$dark-orange: #ff6e40;
$primary-blue: rgb(18, 131, 179);
$black: #000;
$white: #fff;
$black-gray: #1e1e1e;
$transparent-black: rgba(0, 0, 0, 0.4);
$transparent-white: rgba(255, 255, 255, 0.41);
