//Colors
$primary-orange: #ffad4d;
$dark-orange: #ff6e40;
$primary-blue: rgb(18, 131, 179);
$black: #000;
$white: #fff;
$black-gray: #1e1e1e;
$medium-gray: #252525;
$soft-gray: #444444;
$transparent-black: rgba(0, 0, 0, 0.4);
$transparent-white: rgba(255, 255, 255, 0.41);
$tech-green: #004F03;
$soft-yellow: #FFD659;
$error: red;

//Fonts
$roboto: 'Roboto', sans-serif;

//Font weights
$regular: 400;
$bold: 700;
$medium: 500;

